.topToBtm{
    position: relative;
  }
  .iconPosition{
    position: fixed;
    bottom: 40px;
    right: 15px;
    z-index: 99;
    
  }
  .iconStyle{
    background-color:rgba(0,0,0,0.4);
    border-radius: 5px;
    height: 52px;
    width: 52px;
    color: #fff;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .iconStyle:hover{
    animation: none;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(10px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0px);
    }
  }