.ContactTitle{
    font-size: 3rem;
    line-height: 2.2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 700;
    color:#182f44;
}
.form-group input,.form-group textarea{
    font-size: 1.5em;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    padding: 1.5rem 0;
    border-bottom: 1px solid #e9ecef;
}
input::placeholder{
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}
.text-green{
    color:rgb(55, 161, 103);
}
.btnColor{
    background-color: #1abc9c!important;
    transition: all 0.2s;
}
.btnColor:hover{
    background-color: #137562!important;
}
.fa-circle{
    font-size: 5px;
}
@media screen and (max-width:992px){
    .ContactTitle{
        font-size: 2.4rem;
    }
}
